header {
    background-color: rgb(253, 104, 50);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.link {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
}

.welcome {
    font-family: 'Coiny', cursive;
    font-size: 32px;
    background-color: rgb(253, 104, 50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
}

.articles {
    background-color: black;
    color: white;
    font-family: 'Sacramento', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}

.articles > a > article > h2 {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.articles > a > article > p {
    text-align: center;
    color: white;
}

.two {
    width: 1000px;
    border-top: 30px solid rgb(253, 104, 50);
}

@media (max-width: 574px) {

    header {
        background-color: rgb(253, 104, 50);
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 10px;
    }

    .link {
        height: 25px;
        display: flex;
        align-items: center;
        padding: 5px;
        font-family: 'Orbitron', sans-serif;
    }

    .welcome {
        background-color: rgb(253, 104, 50);
        height: 250px;
        font-size: 24px;
    }

    .welcome > h1 {
        width: 300px;
    }

    .articles {
        background-color: rgb(235, 233, 233);
        color: black;
        font-family: 'Sacramento', cursive;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 1200px;
    }

    .articles > a > article > h2 {
        font-family: 'Orbitron', sans-serif;
        display: flex;
        justify-content: center;
        color: black;
    }
    
    .articles > a > article > p {
        text-align: center;
        color: black;
    }

    .two {
        width: 200px;
        border-top: 30px solid rgb(253, 104, 50);
    }
    
}